{% extends 'fitness/base.html' %}

{% block title %}Change Password — IRONCORE{% endblock %}

{% block content %}

<div class="auth-container">

    <div class="auth-card">

        <h2>Change Password</h2>

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button
                type="submit"
                class="btn btn-dark w-100"
            >
                Change Password
            </button>

        </form>

    </div>

</div>

{% endblock %}